@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  width: 100%;
  margin: 0;
}

#__next {
  background-image: linear-gradient(135deg, #684ca0 35%, #1c4ca0 100%);
}

input {
  background: transparent;
}

button:focus {
  outline: none;
}

@layer components {
  @import 'react-toastify/dist/ReactToastify.css';
  @import 'rc-slider/assets/index.css';
  .rc-slider-mark-text {
    @apply text-xl;
  }

  .yt-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }

  .yt-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@layer utilities {
  .bg-orange {
    background: #ff9e3b;
  }

  .bg-blur {
    backdrop-filter: blur(5px);
  }

  .bg-alternate:nth-child(even) {
    @apply bg-white bg-opacity-10;
  }

  .text-shadow {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.8));
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  }

  .pulse {
    animation: pulse 2s ease-in-out infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1) rotate(-30deg);
    }
    50% {
      transform: scale(1.2) rotate(-30deg);
    }
    100% {
      transform: scale(1) rotate(-30deg);
    }
  }
}
